/* #app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
} */

/* body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 100%;
  height: 500px;
  background: #fff5e9;
}

#logo {
  width: 100%;
  height: 100%;
  background: #fff5e9;
  /* fill: #abcde5; */
  color: darkred;
}

.swiper-slide {
  font-size: 18px;
  color: #fff5e9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 120px;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
}

#logo {
  color: tomato;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
  /* font-family: "Poppins"; */
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 18px;
  max-width: 400px;
  line-height: 1.3;
  color: #fff;
  /* justify-content: center; */
}

/* .swiper .swiper-slide {
  transition-timing-function: linear;
} */
