.margin {
  width: 100%;
  max-width: 1728px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 144px;
  padding-bottom: 100px !important  ;
}
.learn-more-button {
  background-color: #ce6d29; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  border-radius: 12px;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: -10px;
  transition: all 0.2s;
}
.learn-more-button:hover {
  background-color: #e36c18; /* Green */
}
.askcomponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.ask {
  display: flex;
  flex-direction: row;
  margin-top: 57.3px;
  width: 100%;
  margin-bottom: 50px;
}
.ask-head {
  color: #18191f;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 57.6px;
  line-height: 77px;
  display: block;
  padding-top: 133px;
  margin: 0 auto;
}
.ask-all {
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: 660px;
  padding-bottom: 25px;
}
.ask-body {
  margin-top: 38.47px;
  border-radius: 15px;
  /* border: #fafbff solid 1px; */
}
.question-box {
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 8px;
}
.question-box:hover {
  background-color: #fafbff;
}
.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  padding: 28.8px 19.2px;
}
.question:hover {
  .elipse {
    background-color: #ff8000;
  }
  .arrow-right-svg path {
    stroke: #ff8000;
  }
}
.question-init {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
}
.text-button {
  font-family: "Inter";
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 19.2px;
  line-height: 29px;
  color: #000000;
}
.elipse {
  min-width: 28.8px;
  min-height: 28.8px;
  border-radius: 100%;
  background-color: #edb37a;
  margin-right: 19.2px;
  transition: all 0.2s;
}
.arrow-right-svg path {
  stroke: #edb37a;
  transition: all 0.2s;
  width: 29px;
}

.arrow-right-img {
  margin-left: 28px;
}
.answer {
  width: 771px;
  background: #fafbff;
  box-shadow: 0px 0px 4.8px 1.2px rgba(0, 0, 0, 0.15);
  border-radius: 19.2px;
  margin-left: -105.6px;
}
.answer-box {
  padding: 48px 80px 15.7px 172.8px;
}
.answer-box-head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 21.6px;
  line-height: 34px;
  color: #18191f;
  margin-bottom: 48px;
}
.answer-box-body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19.2px;
  line-height: 29px;
  color: #000000;
}

@media screen and (max-width: 1440px) {
  .margin {
    padding: 0 120px;
  }
  .ask {
    margin-top: 49.94px;
  }
  .ask-head {
    font-size: 48px;
    line-height: 64px;
    /* margin-left: 120px; */
    /* margin: 0 auto; */
    padding-top: 104px;
  }

  .ask-body {
    margin-top: 32.06px;
  }
  .question {
    padding: 24px 16px;
  }
  .text-button {
    font-size: 16px;
    line-height: 24px;
  }
  .elipse {
    min-width: 24px;
    min-height: 24px;
    margin-right: 16px;
  }
  .arrow-right-img {
    margin-left: 24px;
  }
  .arrow-right-svg {
    width: 24px;
  }
  .answer {
    margin-left: -88px;
    width: 100%;
  }
  .answer-box {
    padding: 40px 70px 13.75px 144px;
  }
  .answer-box-head {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
  }
  .answer-box-body {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1277px) {
  .margin {
    padding: 0 105px;
  }
  .ask-all {
    /* width: 771px; */
  }
  .ask {
    margin-top: 28.25px;
  }
  .ask-head {
    font-size: 42.66px;
    line-height: 57px;
    /* margin-left: 106.66px; */
    /* margin: 0 auto; */

    padding-top: 80px;
  }
  .ask-body {
    margin-top: 28.5px;
  }
  .question {
    padding: 21px 14px;
  }
  .text-button {
    font-size: 14.22px;
    line-height: 21px;
  }
  .elipse {
    min-width: 21.33px;
    min-height: 21.33px;
    margin-right: 14.22px;
  }
  .arrow-right-img {
    margin-left: 21.33px;
  }
  .arrow-right-svg {
    width: 21.33px;
  }
  .answer {
    margin-left: -78.25px;
  }
  .answer-box {
    padding: 35.56px 60px 12px 128px;
  }
  .answer-box-head {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 35.55px;
  }
  .answer-box-body {
    font-size: 14.2222px;
    line-height: 21px;
  }
}

@media screen and (max-width: 744px) {
  .margin {
    padding: 0 62px;
  }
  .ask {
    margin-top: 16.56px;
  }
  .ask-head {
    text-align: center;
    /* margin-left: 35px; */
    font-size: 24.8px;
    line-height: 33px;
    padding-top: 40px;
  }
  .ask-body {
    margin-top: 16.56px;
  }
  .question {
    padding: 6px 8px;
  }
  .text-button {
    font-size: 10px;
    line-height: 12px;
  }
  .elipse {
    min-width: 12.4px;
    min-height: 12.4px;
    margin-right: 8.26px;
  }
  .arrow-right-img {
    margin-left: 2px;
  }
  .arrow-right-svg {
    width: 8px;
  }
  .answer {
    margin-left: -64.46px;
  }
  .answer-box {
    padding: 20.67px 16.53px 7.04px 74.4px;
  }
  .answer-box-head {
    font-size: 9.3px;
    line-height: 14px;
    margin-bottom: 20.67px;
  }
  .answer-box-body {
    font-size: 8.26667px;
    line-height: 12px;
  }
}
@media screen and (max-width: 580px) {
.ask{
  flex-direction: column;
}
.answer{
  margin-left: 0;
}
}
@media screen and (max-width: 390px) {
  .margin {
    padding: 0 55px;
  }
  .askcomponent {
    padding: 24px 0;
    align-items: center;
  }
  .ask-head {
    /* margin-left: 0px; */
    margin: 24px auto;
    font-size: 21.0101px;
    line-height: 28px;
  }
  .ask {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .ask-all {
    margin: 0px;
    width: 100%;
    z-index: 0;
  }
  .answer {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
  }
  .answer-box {
    padding: 20px 30px;
  }
  .answer-box-head {
    font-size: 7.87879px;
    line-height: 12px;
    margin-bottom: 17.51px;
  }
  .answer-box-body {
    font-size: 7.00337px;
    line-height: 11px;
  }
  .elipse {
    margin-right: 7px;
    width: 10.51px;
    height: 10.51px;
  }
  .text-button {
    font-size: 10px;
    line-height: 11px;
  }
  .arrow-right-img {
    margin-left: 10.51px;
  }
  .arrow-right-svg {
    width: 10.51px;
  }
  .ask-body {
    margin-top: 0px;
  }
}

@media screen and (max-width: 320px) {
  .margin {
    padding: 0 44px;
  }
  .askcomponent {
    padding: 24px 0;
  }
  .ask-head {
    font-size: 17.23px;
    line-height: 23px;
  }
  .ask-all {
    margin: auto;
    z-index: 0;
  }
  .answer-box-head {
    font-size: 6.46px;
    line-height: 10px;
    margin-bottom: 14.37px;
  }
  .answer-box-body {
    font-size: 5.74635px;
    line-height: 9px;
  }
  .elipse {
    margin-right: 5.75px;
    width: 8.62px;
    height: 8.62px;
  }
  .text-button {
    font-size: 10px;
    line-height: 9px;
  }
  .arrow-right-img {
    margin-left: 8.62px;
  }
  .arrow-right-svg {
    width: 8.62px;
    height: 8.62px;
  }
  .ask-body {
    margin-top: 0px;
  }
}
