.benefit {
  width: 100%;
  margin-bottom: 107px;
  padding-top: 150px;
}
.tophead {
  text-align: center;
  color: #23372f;
  font-family: "Readex Pro";
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.04em;
  margin-bottom: 108px;
}
.cartmain {
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: center;
}

.cartbody {
  width: 420.49px;
  height: 536.72px;
  background-color: #4a584a;
  border-radius: 17.1619px;
}

.headcartframe {
  margin: -34.3237px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headcartframe-size {
  width: 68.65px;
  height: 68.65px;
}

.cartdetail {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 43px 26px;
  margin: auto;
}

.cartdetailhead {
  text-align: center;
  color: #fff5e9;
  font-family: "Proxima Nova";
  font-size: 42.9046px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-shadow: 1.50665px 1.50665px 0px rgba(0, 0 green, 0 blue, 0.25);
}

.cartdetailfooter {
  text-align: center;
  color: #fff5e9;
  font-family: "Nunito";
  font-size: 25.7428px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.04em;
}
.cartdetailimg {
  width: 351.62px;
  height: 264.6px;
  margin: auto;
}

@media screen and (max-width: 1440px) {
  .benefit {
    margin-bottom: 97.33px;
    padding-top: 108px;
  }
  .tophead {
    margin-bottom: 101px;
  }
  .cartmain {
    gap: 26px;
    padding: 0px 120px;
  }
  .cartbody {
    width: 382.8px;
    height: 487.41px;
  }
  .headcartframe {
    height: 62.4px;
    margin: -31.2px 0;
  }
  .headcartframe-size {
    width: 62.4px;
    height: 62.4px;
  }
  .cartdetail {
    gap: 23px;
    padding: 39px 23px;
  }
  .cartdetailhead {
    font-size: 38.9977px;
  }
  .cartdetailimg {
    width: 323.16px;
    height: 257.62px;
  }
  .cartdetailfooter {
    font-size: 23.3986px;
  }
}

@media screen and (max-width: 1277px) {
  .benefit {
    margin-bottom: 96.79px;
    padding-top: 137px;
  }
  .tophead {
    margin-bottom: 89px;
  }
  .cartmain {
    gap: 25px;
    padding: 0px 80px;
  }
  .cartbody {
    width: 357.71px;
    height: 454.16px;
  }
  .headcartframe {
    height: 58.28px;
    margin: -29.14px 0;
  }
  .headcartframe-size {
    width: 58.28px;
    height: 58.28px;
  }
  .cartdetail {
    gap: 10px;
    padding: 36px 22px;
  }
  .cartdetailhead {
    font-size: 36.42px;
  }
  .cartdetailimg {
    width: 301.82px;
    height: 240.61px;
  }
  .cartdetailfooter {
    font-size: 21.8537px;
  }
}
@media screen and (max-width: 1020px) {
  .benefit {
    padding-top: 120px;
  }
  .cartmain {
    gap: 20px;
    padding: 0px 20px;
  }
  .cartbody {
    width: 300px;
    height: 400px;
  }
  .headcartframe {
    height: 58.28px;
    margin: -29.14px 0;
  }
  .headcartframe-size {
    width: 50px;
    height: 50px;
  }
  .cartdetail {
    gap: 10px;
    padding: 30px 18px;
  }
  .cartdetailhead {
    font-size: 30px;
  }
  .cartdetailimg {
    width: 260px;
    height: 190px;
  }
  .cartdetailfooter {
    font-size: 18px;
  }
}
@media screen and (max-width: 744px) {
  .benefit {
    width: 100%;
    margin-bottom: 82px;
    padding-top: 101px;
  }
  .tophead {
    font-size: 40px;
    margin-bottom: 58px;
  }
  .cartmain {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .cartbody {
    width: 360px;
    height: 391.57px;
  }
  .headcartframe {
    height: 51.06px;
    margin: -25.53px 0;
  }
  .headcartframe-size {
    width: 51.06px;
    height: 51.06px;
  }
  .cartdetail {
    gap: 1px;
    padding: 29px 13px;
  }
  .cartdetailhead {
    font-size: 31.9149px;
  }
  .cartdetailimg {
    width: 264.46px;
    height: 210.83px;
  }
  .cartdetailfooter {
    font-size: 19.149px;
  }
}

@media screen and (max-width: 390px) {
  .benefit {
    margin-bottom: 56.84px;
    padding-top: 101px;
  }
  .cartmain {
    padding: 0px 45px;
  }
  .cartbody {
    width: 300px;
  }
  .tophead {
    font-size: 32px;
    margin-bottom: 50px;
  }
  .headcartframe {
    height: 51.06px;
    margin: -25.53px 0;
  }
  .headcartframe-size {
    width: 49.1px;
    height: 49.1px;
  }
}
@media screen and (max-width: 320px) {
  .benefit {
    margin-bottom: 51.87px;
  }
  .tophead {
    margin-bottom: 31px;
  }
  .cartmain {
    padding: 0px 40px;
  }
  .cartbody {
    width: 200.43px;
    height: 313.26px;
  }
  .headcartframe {
    height: 40.85px;
    margin: -20.42px 0;
  }
  .headcartframe-size {
    width: 39.28px;
    height: 39.28px;
  }
  .cartdetail {
    padding: 22px 10px;
  }
  .cartdetailhead {
    font-size: 25.5319px;
  }
  .cartdetailimg {
    width: 211.57px;
    height: 168.66px;
  }
  .cartdetailfooter {
    font-size: 15.3192px;
  }
}
