.home-metin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.curve {
  width: 100%;
  height: 841px;
  border-bottom-left-radius: 52% 66%;
  border-bottom-right-radius: 85% 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  background: linear-gradient(180deg, #e7dac9 0%, #ce6d29 42.19%);
  box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.25);
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imagehome {
  position: absolute;
  bottom: 102px;
  right: 80px;
  width: 473.96px;
  height: 547.76px;
}
.metin-componenet {
  position: absolute;
  left: 200px;
  top: 188px;
}
.arrimg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}
@keyframes bounce {
  0% {
    bottom: 100px;
  }
  50% {
    bottom: 110px;
  }
  100% {
    bottom: 100px;
  }
}
.arrimg {
  animation: bounce 1s 7;
}
.curve-desktop {
  display: none;
}

@media screen and (min-width: 1728px) {
  .curve-desktop {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1728px;
    width: 100%;
    box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.25);
  }
  #house-img {
    display: none;
  }
  #metin {
    display: none;
  }
  #arrow-img {
    display: none;
  }
  #metin-desktop {
    top: -653px;
  }
}
@media screen and (max-width: 1440px) {
  .curve {
    height: 710px;
  }
  .imagehome {
    width: 394.97px;
    height: 456.47px;
  }
  .arrimg {
    bottom: 85px;
  }
  .metin-componenet {
  }
}

@media screen and (max-width: 1277px) {
  .imagehome {
    width: 358.44px;
    height: 414.24px;
    bottom: 110px;
    right: 39px;
  }
  .metin-componenet {
    left: 90px;
    top: 130px;
  }
  .curve {
    height: 644px;
  }
  .arrimg {
    width: 55px;
    height: 55px;
  }
}
@media screen and (max-width: 1020px) {
  .curve {
    height: 540px;
  }
  .imagehome {
    width: 290px;
    height: 320px;
    bottom: 86px;
    right: 6px;
  }
  .metin-componenet {
    left: 70px;
    top: 130px;
  }
  .arrimg {
    width: 50px;
    height: 40px;
  }
}
@media screen and (max-width: 744px) {
  .curve {
    height: 430px;
  }
  .imagehome {
    width: 236.56px;
    height: 273.4px;
    bottom: 78px;
    right: 11px;
  }
  .metin-componenet {
    left: 52px;
    top: 80px;
  }
  .arrimg {
    width: 48.6px;
    height: 28.6px;
  }
}
@media screen and (max-width: 650px) {
  .curve {
    height: 426px;
  }
  .imagehome {
    width: 210.56px;
    height: 250.4px;
    bottom: 78px;
    right: 11px;
  }
  .metin-componenet {
    left: 52px;
    top: 110px;
  }
  .arrimg {
    bottom: 20px;
  }
}
@media screen and (max-width: 590px) {
  .curve {
    height: 340px;
  }
  .imagehome {
    width: 165px;
    height: 200px;
    bottom: 60px;
    right: 10px;
  }
  .metin-componenet {
    left: 45px;
    top: 90px;
  }
  .arrimg {
    bottom: 20px;
  }
}
@media screen and (max-width: 475px) {
  .curve {
    height: 320px;
  }
  .imagehome {
    width: 145px;
    height: 190px;
    bottom: 60px;
    right: 6px;
  }
  .metin-componenet {
    left: 28px;
    top: 90px;
  }
  .arrimg {
    bottom: 20px;
  }
}
@media screen and (max-width: 390px) {
  .imagehome {
    width: 145px;
    height: 167.58px;
    right: 10px;
    bottom: -30px;
  }
  .metin-componenet {
    left: 35px;
    top: 87.12px;
  }
  .arrimg {
    width: 48.6px;
    height: 24.3px;
    bottom: 31px;
  }
  .curve {
    height: 422.15px;
    border-bottom-left-radius: 146% 99%;
    border-bottom-right-radius: 85% 46%;
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 320px) {
  .imagehome {
    width: 136.86px;
    height: 158.16px;
  }
  .metin-componenet {
    left: 21px;
    top: 87px;
  }
  .arrimg {
    width: 28px;
    height: 14px;
    bottom: 18px;
  }
  .curve {
    margin-bottom: 69px;
  }
}
