.homepage {
  position: relative;
  width: 100%;
  margin: auto;
}
.bgimg-two{
  display: none;
}
.homepage-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.homebody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homemenit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 230px;
}

.imagehome {
  width: 473.96px; 
  height: 547.76px;
  /* width: 100%; */
  /* margin: auto;
  position: relative;
  top: -32px;
  /* left: 165px; */
 /* left: 121px;
  right: -126px; */
  /* margin-top: -32px;
  margin-left: 165px;
  margin-right: -126px; */
}
.image-home-res{
  resize: both;
  overflow: auto;
}

.bgimg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -50;
}

@media screen and (max-width: 1440px) {
  .homemenit {
    /* margin-top: 192px;
    position: relative; */
  }
  .imagehome {
    /* position:absolute; */
     width: 394.97px;
    height: 456.47px;
    /*top: -9.72px;
    left: 43px;
    right: -104px; */
    /* margin-top: -9.72px;
    margin-left: 43px;
    margin-right: -104px; */
  }
  .bgimg {
    height: 710px;
  }
}

@media screen and (max-width: 1277px) {
  .homemenit {
    margin-top: 148px;
  }
  .imagehome{
     width: 358.44px;
    height: 414.24px;
   /* top: -3.36px;
    left: 201px;
    right: -49.62px; */
    /* margin-top: -3.36px;
    margin-left: 201px;
    margin-right: -49.62px; */
  }
  .bgimg {
    height: 644px;
  }
}

@media screen and (max-width: 744px) {
  .homemenit {
    margin-top: 97px;
  }
  .imagehome{
    width: 236.56px;
    height: 273.4px;
    /*margin-right: -38.59px;
    margin-left: 43.38px; */
  }
  .bgimg {
    height: 430px;
  }
}
@media screen and (max-width: 390px) {
  .homemenit{
    flex-direction: column;
  }
  .bgimg{
    display: none;
  }
  .bgimg-two{
    display: block;
    height: 422.15px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -50;
  }

}
@media screen and (max-width: 390px) {
  .bgimg-two{
    height: 415px;
  }
}
