.revenue {
  background-color: #fafafa;
  width: 100%;
  margin: auto;
}
.rev-head {
  text-align: center;
  font-family: "Readex Pro";
  font-weight: 600;
  font-size: 64px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ce6d29;
  padding-top: 86px;
  margin-bottom: 90px;
}
.desc-body {
  text-align: center;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33.6px;
  color: #23372f;
}
.desc-head {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #23372f;
  text-align: center;
}
.description {
  /* width: 757.6px; */
  /* height: 187.2px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14.4px 24px;
}
.icon-class {
  /* width: 80px;
  height: 80px; */
  margin: 13.36px 14.4px 33.36px 24px;
}
.wrap-box {
  background-color: #fff5e9;
  border-radius: 28.8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 900px; */
  /* width: 800px; */
  /* height: 171.2px;  */
  padding: 12px 24px;
  /* width: 100%; */
}

.one {
  margin-left: -38px;
  margin-right: 233px;
}
.two {
  margin-left: 68px;
  margin-top: 77.8px;
  margin-bottom: 111.8px;
  margin-right: 120px;
}
.three {
  margin-left: -38px;
  margin-right: 233px;
}
.four {
  margin-top: 190.8px;
  margin-left: 346px;
  /* width: 791px; */
}
.five {
  margin-top: 49.8px;
  margin-bottom: 49.8px;
  margin-right: 63px;
  margin-left: 245px;
  /* width: 789px; */
}
.six {
  margin-right: 63px;
  margin-bottom: 49.8px;
  margin-left: 245px;
  /* width: 789px; */
}
.seven {
  margin-bottom: 180.8px;
  margin-left: 348px;
  /* width: 789px; */
}
.eight{
  margin-left: -75px;
  margin-right: 341px;
}
.nine{
    margin-top: 69.8px;
    margin-bottom: 69.8px;
    margin-right: 247px;
    margin-left: 75px;
}
.ten{
  margin-left: -75px;
  margin-right: 341px;
}
.wrap-icon-box {
  display: flex;
  flex-direction: column;
  
}
.wrap-icon-box-three {
  display: flex;
  flex-direction: column;
  
}
.wrap-row-one {
  display: flex;
  flex-direction: flex-row;
  justify-content: center;
  align-items: center;
}
.wrap-row-final {
  display: flex;
  flex-direction: flex-row;
  justify-content: center;
  align-items: center;
  padding-bottom: 132.4px;
}
.home-icon {
  margin-left: 245px;
  margin-top: 50px;
  /* margin: auto; */
}
.hand-icon{
  margin-left: 247px;
  margin-top: -100px;
}
.coin-icon {
  margin-left: 38px;
  margin-right: 247px;
  margin-top: -55px;
}
.line{
  display: none;
  width: 100%;
}
.coin-icon-reverse {
  display: none;
}

@media screen and (max-width: 1440px) {
  .rev-head {
    font-size: 56px;
    padding-top: 54px;
  }
  .wrap-box {
    /* width: 789px; */
  }
  .home-icon{
    /* width: 379px;
    height: 438px; */
    margin-left: 120px;
    margin-top: 90px;
  }
  .coin-icon{
    margin-left: 27px;
    margin-right: 120px;
    margin-top: -85px;
  }
  .hand-icon{
    /* width: 379px;
    height: 438px; */
    margin-left: 120px;
    margin-top: -90px;
  }
  .one {

    margin-right: 220px;
  }
  .two {
    margin-left: 32px;
    margin-top: 94.8px;
    margin-bottom: 94.8px;
    margin-right: 120px;
  }
  .three{

    margin-right: 220px;
  }
  .four {
    margin-top: 202.8px;
    margin-left: 221px;
    /* width: 791px; */
  }
  .five {
    margin-right: 27px;
    margin-left: 120px;
    /* width: 789px; */
  }
  .six {
    margin-right: 27px;
    margin-bottom: 49.8px;
    margin-left: 120px;
    /* width: 789px; */
  }
  .seven {
    margin-bottom: 180.8px;
    margin-left: 223px;
    /* width: 789px; */
  }
  .eight{
    margin-right: 223px;
  }
  .nine{
    margin-right: 120px;
    margin-left: 51px;
  }
  .ten{
    margin-right: 223px;
  }
  .wrap-row-final {
    padding-bottom: 130.8px;
  }
}

@media screen and (max-width: 1277px) {
  .rev-head {
    padding-top: 53px;
    margin-bottom: 83px;
  }
  .wrap-box {
    /* width: 761px; */
  }
  .home-icon{
    margin-left: 80px;
    margin-top: 130px;
    width: 300px;
   
  }
  .coin-icon{
    margin-right: 80px;
    margin-left: 48px;
    margin-top: -55px;
    width: 300px;
    
  }
  .hand-icon{
    margin-left: 80px;
    margin-top: -130px;
    width: 300px;
    
  }
  .description{
    padding-left: 0;
  }
  .one {

    margin-right: 151px;
  }
  .two {
    margin-left: 32px;
    margin-top: 115.8px;
    margin-bottom: 115.8px;
    margin-right: 80px;
  }
  .three {

    margin-right: 151px;
  }
  .four {
    margin-top: 175.8px;
    margin-left: 192px;
    /* width: 791px; */
  }
  .five {
    margin-right: 48px;
    margin-left: 80px;
    /* width: 789px; */
  }
  .six {
    margin-right: 48px;
    margin-bottom: 38.8px;
    margin-left: 80px;
    /* width: 789px; */
  }
  .seven {
    margin-bottom: 194.8px;
    margin-left: 192px;
    /* width: 789px; */
  }
  .eight{
    margin-right: 192px;
  }
  .nine{
    margin-right: 80px;
    margin-left: 48px;
  }
  .ten{
    margin-right: 192px;
  }
  .wrap-row-final {
    padding-bottom: 128.8px;
  }
  .icon-class{
    width: 65px;
    margin: 13.36px 5px 33.36px 2px;
  }
}

@media screen and (max-width: 744px) {
  .revenue{
    /* padding-left: 172px;
    padding-right: 172px; */
  }
  .rev-head-body{
     margin: 0px 50px;
  }
  .rev-head {
    font-size: 40px;
    padding-top: 55px;
    margin-bottom: 50px;
  }
  .wrap-box{
    /* width: 400px; */
    flex-direction: column;
    margin-bottom: 23.3px;
    padding: 0px;
  }
  .wrap-row-one{
    display: flex;
    flex-direction: column;
  }
  .wrap-row-final{
    display: flex;
    flex-direction: column;
  }
  .home-icon{
    width: 186.67px;
    height: 221.54px;
    margin:0px 0px 35px 0px;
  }
  .hand-icon{
    width: 186.67px;
    height: 221.54px;
    margin:0px 0px 35px 0px;
  }
  .icon-class{
    width: 59.5px;
    height: 81.67px;
    margin: -50px 0px 0px 0px;
  }
  .description{
    /* width: 372px; */
    padding: 0px 9px;
    /* margin: 5.83px 14px 28px 14px; */
  }
  .desc-head{
    font-size: 21px;
    text-align: center;
    margin: 0px 9.33px;
  }
  .desc-body{
    font-size: 16px;
    text-align: center;
    margin: 0px 9.33px;
  }
  .one {
    margin-left: 0;
    margin-right: 0;
  }
  .two {
    margin-left: 0px;
    margin-top: 23.3px;
    margin-bottom: 23.3px;
    margin-right: 0px;
  }
  .three {
    margin-top: 23.3px;
    margin-left: 0px;
    margin-right: 0;
  }
  .line{
    display: block;
    margin:70px auto ;
    /* width: 400px; */
    border: 1.16667px solid #000000;
  }
  .four {
    display: flex;
    flex-direction: column-reverse;
    margin: 23px 0px 23px 0px;
    /* width: 400px; */
  }
  .five {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 0px;
    margin-right: 0;
    /* width: 400px; */
  }
  .six {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0px;
    margin-top: 23px;
    margin-bottom: 23px;
    margin-right: 0px;
    /* width: 400px; */
  }
  .seven {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 70px;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    /* width: 400px; */
  }
  .eight{
    margin: 23px 0px 23px 0px;
  }
  .nine{
      margin-top: 23px;
      margin-bottom: 23px;
      margin-right: 0px;
      margin-left: 0px;
  }
  .ten{
    margin: 23px 0px 23px 0px;
  }
  .coin-icon {
    display: none;
  }
  .coin-icon-reverse {
    display: block;
    margin:0px 0px 35px 0px;
    width: 186.67px;
    height: 222.7px;
  }
  .wrap-row-final {
    padding-bottom: 106.66px;
  }
  
}

@media screen and (max-width: 390px) {
  .revenue{
    padding-left: 55px;
    padding-right: 55px;
  }
  .rev-head-body{
    margin: 0px 20px;
 }
  .rev-head {
    font-size: 32px;
    padding-top: 38px;
    margin-bottom: 33px;
  }
  .wrap-box{
    /* width: 280px; */
    flex-direction: column;
    margin-bottom: 23.3px;
  }
  .desc-body{
    font-size: 14px;
  }
  .line{
    /* width: 280px; */
    margin:50px auto ;
  }
  .wrap-row-final {
    padding-bottom: 70.66px;
  }
  .icon-class{
    margin-top: -50px;
  }
  .description{
    /* width: 252px; */
  }
  .four {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 23px;
    /* width: 280px; */
  }
  .five {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 0px;
    /* width: 280px; */
  }
  .six {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0px;
    margin-top: 23px;
    margin-bottom: 23px;
    /* width: 280px; */
  }
  .seven {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 70px;
    margin-top: 23px;
    /* width: 280px; */
  }
}

@media screen and (max-width: 320px) {
  .revenue{
    padding-left: 40px;
    padding-right: 40px;
  }
  .rev-head-body{
    margin: 0px 10px;
 }
  .rev-head {
    font-size: 30px;
    padding-top: 39px;
    margin-bottom: 41px;
  }
  .home-icon{
    /* width: 160px;
    height: 189.89px; */
    margin: 0 0 30px 0;
  }
  .coin-icon-reverse {
    /* width: 160px;
    height: 190.89px; */
    margin:0px 0px 30px 0px;
  }
  .wrap-box{
    /* width: 240px; */
  }
  .icon-class{
    /* width: 51px;
    height: 70px; */
    margin-top: -50px;
    
  }
  .line{
    margin:60px auto ;
    /* width: 240px; */
  }
  
  .description{
    /* width: 216px; */
    padding: 0px 8px;
    margin: 5px 12px 24px 12px;
  }
  .desc-head{
    font-size: 18px;
    margin: 0px 8px;
  }
  .desc-body{
    font-size: 12px;
    margin: 0px 8px;
  }
  .wrap-row-final {
    padding-bottom: 54.71px;
  }
}