nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  box-shadow: (0 4px 4px) rgba(0, 0, 0, 0.25);
  transition: all 0.3;
}
.nav-sm-act {
  display: none;
}
.ul-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo-header {
  position: relative;
  top: 0;
  display: flex;
  width: 293px;
  align-items: center;
  box-shadow: inset 0 4.64272px 4.64272px rgb(0, 0, 0 /0.25);
  padding: 25px 30px;
}
.nav-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: black;
  margin-right: 26.4px;
  cursor: pointer;
}
.sss {
  margin-right: 0px;
}
.header-right-action-wrapper {
  margin: 18.85px 0px;
  padding: 14px 21px;
}
.header-button {
  height: 55.6px;
  cursor: pointer;
}

.header-body-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4.17px;
  height: 55.6px;
  border-radius: 5.55987px;
  padding: 11px 25px;
  border: 2.78px solid #4a584e;
  background-color: #fff5e9;
}
.header-button:hover {
  .header-body-button {
    background-color: #CE6D29;
    transition: all 200ms;
    border-color: beige;
    border-width: 2px;
    /* border: 2.78px solid transparent; */
  }
  .header-button-text-info {
    color: beige;
  }
  .phone-img-button-header {
    fill: beige;
  }
  .header-body-button {
    border-color: beige;
  }
}
.phone-img-button-header {
  fill: #252422;
  width: 33.36px;
  height: 33.36px;
}

.header-button-text {
  padding: 0 11px;
}

.header-button-text-info {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 19.4595px;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: #252422;
}
.scrolled {
  transition: all 0.3;
  background: linear-gradient(267.89deg, #ce6d29 -0.03%, #fff5e9 100.02%);
}

@media screen and (max-width: 1440px) {
  .logo-header {
    padding: 24px 0 24px 48px;
  }
  .header-right-action-wrapper {
    margin: 0px;
    padding: 11.74px 0px 0px 0px;
  }

  .nav-link {
    font-size: 20px;
    margin-right: 24px;
  }
  .sss {
    margin-right: 0px;
  }
  .header-body-button {
    padding: 10px 23px;
  }
  .header-button-text-info {
    font-size: 17.69px;
  }
  .phone-img-button-header {
    width: 30.33px;
    height: 30.33px;
  }
}

@media screen and (max-width: 1277px) {
  .nav-sm {
    display: flex;
    flex-direction: row;
  }
  .header-right-action-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0px;
    justify-content: center;
  }

  .logo-header {
    width: 243.23px;
    height: 84.24px;
    padding: 0;
  }

  .nav-link {
    font-size: 17px;
    margin-right: 15px;
  }
  .header-button {
    height: 42.12px;
  }
  .phone-img-button-header {
    width: 25.27px;
    height: 25.27px;
  }
  .header-body-button {
    gap: 3.16px;
    height: 42.12px;
    padding: 8px 19px;
  }
  .header-button-text-info {
    font-size: 14.74px;
  }
}
@media screen and (max-width: 940px) {
  .navbar {
    display: none;
  }
  .nav-sm-act {
    display: inline-block;
  }
}
@media screen and (max-width: 744px) {
  .header {
    height: 64.4px;
    padding: 0px 24px;
  }
  .logo-header {
    width: 152.54px;
    min-height: 36px;
    padding: 14px 17px;
  }
  .header-button {
    height: 32.4px;
  }
  .header-body-button {
    min-width: 150.99px;
    height: 32.4px;
    padding: 6px 15px;
  }
  .phone-img-button-header {
    width: 19.44px;
    height: 19.44px;
  }
  .header-button-text-info {
    font-size: 11px;
  }
}
@media screen and (max-width: 744px) {
  .header {
    padding: 0 5px;
  }
}
@media screen and (max-width: 390px) {
  .header {
    height: 56px;
    padding: 0px;
  }
  .logo-header {
    min-width: 127.12px;
    min-height: 30px;
    padding: 12px 14px;
  }

  .header-body-button {
    display: block;
    min-width: 36px;
    padding: 6px 3px;
  }
  .header-button-text-info {
    display: none;
  }
  .phone-img-button-header {
    width: 20.68px;
    height: 17px;
  }
  .header-button-text-info {
    font-size: 10.5px;
  }
}
@media screen and (max-width: 320px) {
  .header {
    height: 56px;
  }
  .logo-header {
    min-width: 127.12px;
    padding: 12px 14px;
  }
}
