.footer-copy-com {
  background: #38433a;
  padding: 40px 100px 40px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: start;
  max-width: 1720px;
}
.footer-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  background: #38433a;
}
.footer-first {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.footer-number {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 40px 0;
}
.footer-address {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #fff5e9;
}
.footer-phone {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #fff5e9;
  padding-top: 16px;
  padding-bottom: 16px;
}
.footer-mail {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-decoration-line: underline;
  color: #fff5e9;
}
.footer-copy {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: left;
  letter-spacing: 0.1em;
  color: #fff5e9;
}

.footer-mid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
}
.mid-head {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: left;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-bottom: 40px;
  padding-top: 1.4rem;
}
.ul-link {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  text-align: left;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.footer-last {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
}
.last-head {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  padding-top: 1.4rem;
}
.last-body {
  margin: 43px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.last-body-first {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: left;
  letter-spacing: 0.06em;
  text-decoration-line: underline;
  color: #fff5e9;
}
.last-body-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.last-body-mid {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-align: left;
  letter-spacing: 0.06em;
  color: #fff5e9;
  align-self: center;
}
.veya {
  margin-top: 32px;
}
.footer-button {
  cursor: pointer;
}

.footer-body-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4.17px;
  height: 48px;
  width: 100%;
  border-radius: 5.55987px;
  padding: 24px 25px;
  border: 2.78px solid #4a584e;
  background-color: #fff5e9;
}
.footer-button:hover {
  .footer-body-button {
    background-color: #38433a;
    transition: all 200ms;
    border-color: beige;
    /* border-width: 2px; */
    /* border: 2.78px solid transparent; */
  }
  .footer-button-text-info {
    color: beige;
  }
  .phone-img-button-footer {
    fill: beige;
  }
  .footer-body-button {
    border-color: beige;
  }
}
.phone-img-button-footer {
  fill: #252422;
  width: 33.36px;
  height: 33.36px;
}

.footer-button-text-info {
  padding: 0 11px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 19.4595px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #252422;
}

@media screen and (max-width: 1440px) {
  .footer-copy-com {
    padding: 40px 80px 40px 80px;
  }
  .phone-img-button-footer {
    width: 30.33px;
    height: 30.33px;
  }
  .footer-button-text-info {
    font-size: 17.69px;
  }
}
@media screen and (max-width: 1277px) {
  .footer-copy-com {
    padding: 50px 60px 50px 60px;
  }
  .footer-logo {
    width: 264px;
    /* height: 12px; */
  }
  .footer-copy {
    font-size: 12px;
  }
  .footer-address {
    font-size: 16px;
  }
  .footer-mail {
    font-size: 16px;
  }
  .footer-phone {
    font-size: 16px;
  }

  .ul-link {
    font-size: 16px;
  }
  .last-body-first {
    font-size: 16px;
  }
  .last-body-mid {
    font-size: 14px;
  }
  .veya {
    margin-top: 32px;
  }
  .footer-body-button {
    padding: 9px 20px;
  }
  .phone-img-button-footer {
    width: 25.27px;
    height: 25.27px;
  }
  .footer-button-text-info {
    font-size: 14.74px;
  }
}
@media screen and (max-width: 744px) {
  .footer-copy-com {
    padding: 30px 30px 30px 30px;
  }
  .footer-copy {
    font-size: 10px;
  }
  .footer-address {
    font-size: 14px;
  }
  .footer-mail {
    font-size: 14x;
  }
  .footer-phone {
    font-size: 14px;
  }
  .ul-link {
    font-size: 14px;
  }

  .last-body-first {
    font-size: 14px;
  }
  .last-body-mid {
    font-size: 12px;
  }
  .veya {
    margin-top: 20px;
  }
  .footer-logo {
    width: 164px;
    /* height: 35.8px; */
  }
  .phone-img-button-footer {
    width: 19.44px;
    height: 19.44px;
  }
  .footer-button-text-info {
    font-size: 11.3401px;
  }
  .mid-head {
    font-size: 16px;
    padding-top: 0;
  }
  .last-head {
    font-size: 16px;
    padding-top: 0;
  }
}
@media screen and (max-width: 545px) {
  .footer-copy-com {
    padding: 30px 15px 30px 15px;
  }

  .last-body {
    margin-top: 30px;
  }
  .footer-copy {
    font-size: 10px;
  }
  .footer-address {
    font-size: 12px;
  }
  .footer-mail {
    font-size: 12px;
  }
  .footer-phone {
    font-size: 12px;
  }
  .ul-link {
    font-size: 12px;
  }

  .last-body-first {
    font-size: 12px;
  }
  .last-body-mid {
    font-size: 10px;
  }
  .veya {
    margin-top: 20px;
  }
  .footer-logo {
    width: 148px;
  }
  .footer-body-button {
    padding: 7px 10px;
  }
  .phone-img-button-footer {
    width: 18px;
    height: 18px;
  }
  .footer-button-text-info {
    font-size: 10px;
    padding: 0;
  }
}
@media screen and (max-width: 390px) {
  .footer-copy-com {
    padding: 24px 22px;
  }
  .footer-wrapper {
    align-items: center;
  }
  .footer-number {
    margin-bottom: 0px;
  }
  .footer-mid {
    display: none;
  }
  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-first {
    align-items: center;
    text-align: center;
  }
  .ul-link {
    text-align: center;
  }
  .footer-logo {
    width: 206.78px;
    height: 48.8px;
  }

  .last-body-mid {
    text-align: center;
  }
  .veya {
    text-align: center;
  }
  .footer-body-button {
    padding: 9px 20px;
  }
  .phone-img-button-footer {
    width: 18px;
    height: 18px;
  }
  .footer-button-text-info {
    font-size: 10.5px;
  }
  .footer-copy {
    margin-top: 20px;
    text-align: center;
  }
}
